@charset "UTF-8";
/* CSS Document */
body {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		background-image: url("../images/ui/bg.jpg");
}

.tooltip{
	position: absolute;
	top: 4em;
	left: 3em;
	width: 10em;
	background-color: #000;
	color: #fff;
	padding: 10px;
	border-radius: 8px;
	display: none;
	font-family: sans-serif;
}
